{% extends 'base.html' %}
{% load static %}
{% block title %}
    Сообщение
{% endblock %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'regist/css/register.css' %}">
{% endblock %}

{% block content %}

    </div>
    <section class="container">
        <div class="login-container">
            <div class="form-container">
                <h3>Электронная почта подтверждена.</h3>
                <p>Ваш адрес электронной почты успешно подтвержден. Спасибо за регистрацию!</p>
            </div>
        </div>
    </section>

{% endblock %}