{% extends 'base.html' %}
{% load static %}
{% block title %}
    Сброс пароля
{% endblock %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'regist/css/register.css' %}">
{% endblock %}

{% block content %}
    <section class="container">
        <div class="login-container">
            <div class="form-container">
                <h1 class="opacity">Сброс пароля</h1>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="email"
                           placeholder="Почтовый адрес"/>
                    {% if form.errors %}
                        <p>{{ form.errors }}</p>
                    {% endif %}
                    <button type="submit" class="opacity">Сбросить</button>
                </form>
                <div class="register-forget opacity">
                    <a href="{% url 'register' %}">Назад</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}