body {
    background-color: #323232;
    background-size: 5000px;
    color: #fafafa;
    overflow-x: hidden;

}

.container{
    max-width: calc(var(--index) * 60);
    margin: auto;
    display: flex;
}
#banner-section {

    position: relative;
    padding-top: calc(var(--index) * 2);
    padding-bottom: calc(var(--index) * 2);

}

.banner {
    margin:auto ;
    max-width: calc(var(--index) * 20);
}

.text-banner-h2 {
    font-size: calc(var(--index) * 2);
    line-height: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index) * 0.1);
    color: var(--color-header);
    font-family: "Be Vietnam Pro", Helvetica, Arial, sans, serif;
     margin-bottom: calc(var(--index) * 1.5);
}

.text-banner-p {
    margin-top: calc(var(--index) * 1.5);
    margin-bottom: calc(var(--index) * 1.5);
    font-size: calc(var(--index) * 0.6);
    color: var(--color-text);
}

.banner-links__wraps {
    display: flex;
    align-items: center;
    gap: calc(var(--index) * 1);
    margin-bottom: calc(var(--index) * 1.5);
}

.banner-features {
    font-weight: 600;
    line-height: calc(var(--index) * 1.5);
}

.banner-features__text:first-child {
    margin-right: calc(var(--index) * .4);
}

.banner-features__text_strong {
    margin-right: calc(var(--index) * .11);
    font-weight: 700;
    font-size: calc(var(--index) * 1.5);
    line-height: calc(var(--index) * 3.25);
    vertical-align: sub;
}

.hero--img {
    position: relative;
    height: calc(var(--index) * 21);
    width: calc(var(--index) * 40);
    top: 0;
    right: 0;
    pointer-events: none;
}

.hero--bg{

    background-image: linear-gradient(to left bottom, #ff0000, #e50d11, #cb161a, #b11c1e, #972021, #821e23, #6d1c23, #581b21, #43171d, #2f1318, #1c0c10, #000000);
    width: 100%;
    height: calc(var(--index)* 25.5);
    right: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}
.title_text--bg {
    border: calc(var(--index) * .05) solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 calc(var(--index) * 1) calc(var(--index) * 0.3) rgba(0, 0, 0, 0.2);
    border-radius: 0 calc(var(--index) * .5) calc(var(--index) * .5) 0;
    background: #3737364a;
    backdrop-filter: blur(calc(var(--index) * .7));
    width: 40%;
    height: calc(var(--index) * 18);
    left: 0;
    position: absolute;
    top: calc(var(--index) * 3.5);
    z-index: -1;
}

.circle {
    /*width: calc(var(--index) * 5);*/
    /*height: calc(var(--index) * 5);*/
    background-color: #323232;
    border-radius: 50%;
    position: absolute;
}

.circle__one {

    top: calc(var(--index) * 14);
    left: calc(var(--index) * 13);
    z-index: -1;
    transform: translate(-45%, -45%);
}
.circle__two {

    top: calc(var(--index) * 21);
    left: calc(var(--index) * 25.8);
    z-index: -1;
    transform: translate(-45%, -45%);
}


#image {
    width: calc(var(--index) * 25);
    position: absolute;
    user-select: none;
    right: calc(var(--index) * 2);
    z-index: 0;
}