{% extends 'base/../base.html' %}
{% load static %}
{% block title %}
    Главная страница
{% endblock %}

{% block css_additional %}

    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <script src="{% static 'main/js/gsap.min.js' %}" defer></script>
    <script src="{% static 'main/js/ScrollTrigger.min.js' %}" defer></script>
    <script src="{% static 'main/js/ScrollSmoother.min.js' %}" defer></script>
    <script src="{% static 'main/js/index.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="banner__section">

        <main>

            <section id="banner-section">
                <div class="hero--bg"></div>
                <div class="circle circle__one"><i class="fa-solid fa-gear" style="color: #323232;"></i></div>
                  <div class="circle circle__two"></div>
                <div class="title_text--bg"></div>

                <div class="container">
                    <div class="banner">
                        <h2 class="text-banner-h2">Ваше счастье
                            наши шестеренки</h2>
                        <div class="banner-links__wraps">
                            <a href="" class="btn-primary banner-link">Записаться</a>
                            <button class="btn-secondary">что то за кнопка
                            </button>
                        </div>
                        <div class="banner-features">
                            <span class="banner-features__text">
                        <strong class="banner-features__text_strong">1500+</strong>
                        Постоянных клиентов</span>
                            <span class="banner-features__text">
                        <strong class="banner-features__text_strong">№1</strong>
                        Авто сервис</span>

                        </div>

                    </div>
                    <div class="hero--img">
                        <img id="image"
                             src="{% static 'main/img/подъемник-PhotoRoom.png-PhotoRoom.png' %}"
                        alt="">
                    </div>
                </div>

            </section>

        </main>

    </div>
{% endblock %}