{% extends 'main/base.html' %}
{% load static %}
{% block title %}Смена пароля{% endblock %}
    {% block css_additional %}
<link rel="stylesheet" href="{% static 'regist/css/register.css' %}">



{% endblock %}
    {% block content %}
   <section class="container">

            <div class="login-container">
                <div class="form-container">
                    <h1 class="opacity">Смена пароля</h1>
                    <form method="post">{% csrf_token %}
                        <h3>{{ form.user.get_username }}</h3>
                        <input type="password" name="old_password"
                               id="new_password1" placeholder="Пароль">
                        <input type="password" name="new_password1"
                               id="new_password2" placeholder="Повтор пароля">
                        <input type="password" name="new_password2"
                               id="new_password2" placeholder="Повтор пароля">
                        <button type="submit" class="opacity">Изменить пароль
                        </button>
                        {% if form.errors %}
                            <p>{{ form.errors }}</p>
                        {% endif %}
                    </form>
                    <div class="register-forget opacity">
                        <a href="{% url 'home' %}">Назад</a>
                    </div>
                </div>
            </div>
            <div class="theme-btn-container"></div>
        </section>
{% endblock %}